@{
    ViewData["Title"] = "Блокування";
}

<span class="h1 text-danger p-5 w-100 d-inline-block align-middle text-center">Ваш аккаунт заблокован.</span>
<p class="h4">Буде разблоковано @ViewData["LockoutEndDateTime"]</p>