<div class="load d-none" data-toggle="loading">
    <div class="load-dialog">
        <div class="load-content text-warning">
            <div class="load-spinner" role="status"></div>
        </div>
    </div>
</div>
<div class="load-backdrop d-none" data-toggle="loading"></div>