@model Phoenix.Web.Models.Election.Online.TotalProtocolByCouncil

<div class="online-council" id="dynamicOnlineCouncil" data-id="">
    <div class="online-council-header">
        <span>@Model.CouncilName</span>
    </div>
    <div class="online-council-body">
        NO DATA
    </div>
</div>